<!DOCTYPE html>
<html>

<head>
    <title>Task Manager App</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div id="pageContainer">
        <div class="title-container">
            <h1 id="taskManager">Task Manager</h1>
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>